<div class="row" style="margin:15px 0px 20px 0px">
    <div class="col-md-5">
      <mat-card>
        <mat-card-header>
            <mat-card-title>Add New Skills</mat-card-title>
        </mat-card-header>
        <span style="color: gray;">You can also add murtiple comma separtated entries.*</span>
        <mat-card-content>
          <form [formGroup]="skillsForm" (ngSubmit)="addSkills(skillsForm.value)">
            <mat-form-field>
                <input matInput placeholder="Skill(s) Name" formControlName="SkillName">
                <input type="text" id="Id" value="" style="display: none;">
            </mat-form-field>
            <button #submitbtn style="display: none;" type="submit"></button>
          </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button mat-raised-button color="primary" (click)="submitbtn.click()">Submit</button>
            <button mat-stroked-button mat-raised-button (click)="clearForm()">Clear</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-7">
      <mat-card>
        <mat-card-header>
            <mat-card-title>Skills List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Skill Name</th>
                      <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of skillsList">
                      <td class="color_black">{{item.SkillName}}</td>
                      <td>
                        <i (click)="editEntry(item.Id, item.SkillName)" class="fa fa-edit fa-4 icon-align"></i>
                        <i (click)="deleteEntry(item.Id)" class="fa fa-trash fa-4 icon-align"></i>
                      </td>
                  </tr>
                </tbody>
              </table>
        </mat-card-content>
        <mat-card-actions>
          <!-- REGISTER BUTTON -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

