<div class="overlay" id="loader" style="display: none;">
    <div class="center">
        <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
        <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
          <animateTransform
             attributeName="transform"
             dur="1s"
             type="translate"
             values="0 15 ; 0 -15; 0 15"
             repeatCount="indefinite"
             begin="0.1"/>
        </circle>
        <circle fill="#fff" stroke="none" cx="30" cy="50" r="6">
          <animateTransform
             attributeName="transform"
             dur="1s"
             type="translate"
             values="0 10 ; 0 -10; 0 10"
             repeatCount="indefinite"
             begin="0.2"/>
        </circle>
        <circle fill="#fff" stroke="none" cx="54" cy="50" r="6">
          <animateTransform
             attributeName="transform"
             dur="1s"
             type="translate"
             values="0 5 ; 0 -5; 0 5"
             repeatCount="indefinite"
             begin="0.3"/>
        </circle>
        </svg>
    </div>
</div>
<!-- Page Wrapper -->
<div id="wrapper" *ngIf="!isLoginUrl">

  <app-side-bar></app-side-bar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
      <app-header></app-header>
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; smartData Enterprises 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<app-login *ngIf="isLoginUrl"></app-login>