<mat-tab-group>
    <mat-tab label="PLATFORM">
      <ng-template matTabContent>
          <app-platform></app-platform>
      </ng-template>
    </mat-tab>
    <mat-tab label="INTERVIEWERS">
      <ng-template matTabContent>
        <app-interviewers></app-interviewers>
      </ng-template>
    </mat-tab>
    <mat-tab label="SKILLS">
      <ng-template matTabContent>
        <app-skills></app-skills>
      </ng-template>
    </mat-tab>
    <mat-tab label="CONTACT MODE">
      <ng-template matTabContent>
        <app-contact-mode></app-contact-mode>
      </ng-template>
    </mat-tab>
    <mat-tab label="SOURCE">
      <ng-template matTabContent>
        <app-source></app-source>
      </ng-template>
    </mat-tab>
    <mat-tab label="RECRUITER">
        <ng-template matTabContent>
          <app-recruiter></app-recruiter>
        </ng-template>
      </mat-tab>
  </mat-tab-group>
