<mat-tab-group>
    <mat-tab label="PLATFORM">
      <ng-template matTabContent>
          <app-platform></app-platform>
      </ng-template>
    </mat-tab>
    <mat-tab label="INTERVIEWERS">
      <ng-template matTabContent>
        <app-interviewers></app-interviewers>
      </ng-template>
    </mat-tab>
    <mat-tab label="CONTACT MODE">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="SOURCE">
      <ng-template matTabContent>

      </ng-template>
    </mat-tab>
    <mat-tab label="RECRUITER">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>
      <mat-tab label="STATUS">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>
      <mat-tab label="SKILLS">
        <ng-template matTabContent>

        </ng-template>
      </mat-tab>
  </mat-tab-group>
