
@import "./assets/scss/variables.scss";


@import "./assets/vendor/bootstrap/scss/bootstrap.scss";


@import "./assets/scss/mixins.scss";
@import "./assets/scss/global.scss";
@import "./assets/scss/utilities.scss";

@import "./assets/scss/dropdowns.scss";
@import "./assets/scss/navs.scss";
@import "./assets/scss/buttons.scss";
@import "./assets/scss/cards.scss";
@import "./assets/scss/charts.scss";
@import "./assets/scss/login.scss";
@import "./assets/scss/error.scss";
@import "./assets/scss/footer.scss";

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr-bs4-alert';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 75px;
}
